=======================<%= article.created_at %><br>
<%= article.title %><br>
<%= markdown(truncate(article.text) { link_to "Continue", article })%><br>
=======================================<br><br>
