<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "blorgh/application", media: "all" %>
  <%= javascript_include_tag "blorgh/application" %>
</head>
<body>

<%= link_to root_path do %>
<%= image_tag 'typewriter.svg', size: "120x120"%>
<% end %>
<%= yield %>

</body>
</html>
